<div class="card">
    <div class="card-header">
      <h3>Agregar Contacto</h3>
    </div>
    <div class="card-body">
      <form action="" [formGroup]="cont">
      
        <label class="col-sm-3 col-form-label is-required">correo </label>
        <input type="email" name="correo" id="" class="form-control" placeholder=""
          aria-describedby="helpId" formControlName="correo" value="">

        <label class="col-sm-3 col-form-label is-required">telefono</label>
        <input type="number" name="telefono" id="" class="form-control" placeholder=""
          aria-describedby="helpId" formControlName="telefono" value="">

        <label class="col-sm-3 col-form-label is-required">linkedin</label>
        <input type="text" name="linkedin" id="" class="form-control" placeholder=""
          aria-describedby="helpId" formControlName="linkedin" value="">

        <label class="col-sm-3 col-form-label is-required">discord</label>
        <input type="text" name="discord" id=""  class="form-control" placeholder=""
          aria-describedby="helpId" formControlName="discord" value="">
          
        <button class="btn btn-danger" (click)="agregar()" >Agregar</button>
        <button class="btn btn-secondary" [routerLink]="['home']">CANCELAR
        </button>
      </form>
    </div>
  </div> 