<div class="container-fluid">
    <section id="skills" class="d-flex justify-content-end">
        <div class="card border-0">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <h2>Skills</h2>
                    <div class="botones" *ngIf="isAdmin">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h3>Front-End</h3>
                                    <p></p>
                                    <div class="botones" *ngIf="isAdmin">
                                        <i class="fas fa-plus-circle" (click)="openEdit(agregarSkill)"></i>
                                    </div>
                                </div>
                                <div *ngFor="let ski of skill">
                                    <p>{{ski.nombre}}</p>
                                    <div class="d-flex justify-content-between">
                                        <p><img src="{{ski.img}}" class="circulo"></p>
                                        <div class=" botones" *ngIf="isAdmin">
                                            <i class="fas fa-edit" (click)="openSkil(editarSkill,ski)"></i>
                                            <i class="fas fa-trash-alt" (click)="openDelete(skillDelete,ski)"></i>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar"
                                            attr.style="width:{{ski.nivel}}%" aria-valuenow="25" aria-valuemin=""
                                            aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="d-flex justify-content-between ">
                                    <p>{{ski.nombre}}</p>
                                    <div class="botones">
                                        <i class="fas fa-edit"></i>
                                        <i class="fas fa-trash-alt"></i>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                                        role="progressbar" attr.style="width:{{ski.nivel}}%" aria-valuenow="25" aria-valuemin="0"
                                        aria-valuemax="100">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <!--  columna back-->
                        <div class="col-sm-4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h3>Back-End</h3>
                                    <div class="botones" *ngIf="isAdmin">
                                        <i class="fas fa-plus-circle" (click)="openBack(agregarBack)"></i>
                                    </div>
                                </div>
                                <div *ngFor="let skiback of skillBack">
                                    <p>{{skiback.nombre}}</p>
                                    <div class="d-flex justify-content-between">
                                        <p><img src="{{skiback.img}}" class="circulo"></p>
                                        <div class=" botones" *ngIf="isAdmin">
                                            <i class="fas fa-edit" (click)="openSkil(editarBack,skiback)"></i>
                                            <i class="fas fa-trash-alt" (click)="Deleteback(backDelete,skiback)"></i>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-info " role="progressbar"
                                            attr.style="width:{{skiback.nivel}}%" aria-valuenow="25" aria-valuemin=""
                                            aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- columna de softskill -->
                        <div class="col-sm-4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h3>Soft</h3>
                                    <div class="botones" *ngIf="isAdmin">
                                        <i class="fas fa-plus-circle" (click)="openBack(agregarSoft)"></i>
                                    </div>
                                </div>
                                <div *ngFor="let soft of skillSoft">
                                    <p>{{soft.nombre}}</p>
                                    <div class="d-flex justify-content-between">
                                         <p><img src="{{soft.img}}" class="circulo"></p> 
                                        <div class=" botones" *ngIf="isAdmin">
                                            <i class="fas fa-edit" (click)="openSkil(editarSoft,soft)"></i>
                                            <i class="fas fa-trash-alt" (click)="Deletesoft(softDelete,soft)"></i>
                                        </div>
                                    </div>
                                    <div class="progress">
                                         <div class="progress-bar bg-info " role="progressbar"
                                            attr.style="width:{{soft.nivel}}%" aria-valuenow="25" aria-valuemin=""
                                            aria-valuemax="100">
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<ng-template #agregarSkill let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Agregar Skill Front</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="skills">
            <label class="col-sm-3 col-form-label is-required">nombre </label>
            <input type="text" name="nombre" id="" class="form-control" placeholder="" aria-describedby="helpId"
                formControlName="nombre" value="">

            <label class="col-sm-3 col-form-label is-required">nivel</label>
            <input type="range" class="form-range" formControlName="nivel" id="customRange1">

            <label class="col-sm-3 col-form-label is-required">img</label>
            <input type="file" alife-file-to-base64 accept="image/png,image/jpg" name="file"
                (onFileChanged)="obtener($event)" class="form-control" placeholder="">

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="d('Cross click')"> Cancelar
        </button>
        <button class="btn btn-danger" (click)="guardar()"> Guardar
        </button>
    </div>
</ng-template>

<ng-template #editarSkill let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editar Skill Front-End</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="skills">
            <label class="col-sm-3 col-form-label is-required">nombre </label>
            <input type="text" name="nombre" id="" class="form-control" placeholder="" aria-describedby="helpId"
                formControlName="nombre" value="">

            <label class="col-sm-3 col-form-label is-required">nivel</label>
            <input type="range" class="form-range" formControlName="nivel" id="customRange1">

            <label class="col-sm-3 col-form-label is-required">img</label>
            <input type="file" alife-file-to-base64 accept="image/png,image/jpg" name="file"
            (onFileChanged)="obtener($event)" class="form-control" placeholder="">

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="d('Cross click')"> Cancelar
        </button>
        <button class="btn btn-danger" (click)="actualizar()"> Actualizar
        </button>
    </div>

</ng-template>

<ng-template #agregarBack let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Agregar Skill Back-End</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="skills">
            <label class="col-sm-3 col-form-label is-required">nombre</label>
            <input type="text" name="nombre" id="" class="form-control" placeholder="" aria-describedby="helpId"
                formControlName="nombre" value="">
            <label class="col-sm-3 col-form-label is-required">nivel</label>
            <input type="range" class="form-range" formControlName="nivel" id="customRange1">
            <label class="col-sm-3 col-form-label is-required">img</label>
            <input type="file" alife-file-to-base64 accept="image/png,image/jpg" name="file"
                (onFileChanged)="obtener($event)" class="form-control" placeholder="">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="d('Cross click')"> Cancelar
        </button>
        <button class="btn btn-danger" (click)="guardarback()"> guardar
        </button>
    </div>
</ng-template>

<ng-template #editarBack let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editar Skill Back-End</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="skills">
            <label class="col-sm-3 col-form-label is-required">nombre </label>
            <input type="text" name="nombre" id="" class="form-control" placeholder="" aria-describedby="helpId"
                formControlName="nombre" value="">

            <label class="col-sm-3 col-form-label is-required">nivel</label>
            <input type="range" class="form-range" formControlName="nivel" id="customRange1">

            <label class="col-sm-3 col-form-label is-required">img</label>
            <input type="file" alife-file-to-base64 accept="image/png,image/jpg" name="file"
                (onFileChanged)="obtener($event)" class="form-control" placeholder="">

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="d('Cross click')"> Cancelar
        </button>
        <button class="btn btn-danger" (click)="actualizarback()"> Actualizar
        </button>
    </div>

</ng-template>


<ng-template #agregarSoft let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Agregar Skill Soft</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="skills">
            <label class="col-sm-3 col-form-label is-required">nombre</label>
            <input type="text" name="nombre" id="" class="form-control" placeholder="" aria-describedby="helpId"
                formControlName="nombre" value="">
            <label class="col-sm-3 col-form-label is-required">nivel</label>
            <input type="range" class="form-range" formControlName="nivel" id="customRange1">
            <label class="col-sm-3 col-form-label is-required">img</label>
            <input type="file" alife-file-to-base64 accept="image/png,image/jpg" name="file"
                (onFileChanged)="obtener($event)" class="form-control" placeholder="">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="d('Cross click')"> Cancelar
        </button>
        <button class="btn btn-danger" (click)="guardarsoft()"> guardar
        </button>
    </div>
</ng-template>

<ng-template #editarSoft let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editar Skill Soft</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="skills">
            <label class="col-sm-3 col-form-label is-required">nombre </label>
            <input type="text" name="nombre" id="" class="form-control" placeholder="" aria-describedby="helpId"
                formControlName="nombre" value="">

            <label class="col-sm-3 col-form-label is-required">nivel</label>
            <input type="range" class="form-range" formControlName="nivel" id="customRange1">

            <label class="col-sm-3 col-form-label is-required">img</label>
            <input type="file" alife-file-to-base64 accept="image/png,image/jpg" name="file"
                (onFileChanged)="obtener($event)" class="form-control" placeholder="">

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="d('Cross click')"> Cancelar
        </button>
        <button class="btn btn-danger" (click)="actualizarsoft()"> Actualizar
        </button>
    </div>

</ng-template>

<ng-template #skillDelete let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Eliminar elemento</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <p>
        ¿Estás seguro de que deseas eliminar este elemento?
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="modal.close('Save click')"
      >
        Cancelar
      </button>
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">
        Eliminar
      </button>
    </div>
  </ng-template>

  <ng-template #backDelete let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Eliminar elemento</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <p>
        ¿Estás seguro de que deseas eliminar este elemento?
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="modal.close('Save click')"
      >
        Cancelar
      </button>
      <button data-dismiss="modal" class="btn btn-danger" (click)="DeleteBack()">
        Eliminar
      </button>
    </div>
  </ng-template>

  <ng-template #softDelete let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Eliminar elemento</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <p>
        ¿Estás seguro de que deseas eliminar este elemento?
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="modal.close('Save click')"
      >
        Cancelar
      </button>
      <button data-dismiss="modal" class="btn btn-danger" (click)="DeleteSoft()">
        Eliminar
      </button>
    </div>
  </ng-template>