 <div class="card">
    <div class="card-header">
      <h3>Agregar skill</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="skil">
        <div class="form-group"> 
        <label > nombre </label>
        <input type="text" name="nombre" id=""  class="form-control" placeholder=""
          aria-describedby="helpId" formControlName="nombre"  [(ngModel)]="skill.nombre" >
        </div>
        <div class="form-group"> 
          <label for="">img:</label>
          <input type="file" accept=".png , .jpg" alife-file-to-base64 (onFileChanged)="obtener($event)" name="img"  class="form-control" formControlName="img">  
         </div>
        <div class="form-group"> 
          <label >nivel</label>
          <input type="range" formControlName="nivel" [(ngModel)]="skill.nivel" name="nivel" class="form-range" id="customRange1" >
        </div>

        <button class="btn btn-danger" (click)="update(skill)">Actualizar</button>
        <button class="btn btn-secondary" [routerLink]="['home']">CANCELAR
        </button>
      </form>
    </div>
  </div>  
