 <div class="card">
    <div class="card-header">
      <h3>Agregar skill</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="skil">
       
        <label class="col-sm-3 col-form-label is-required"> nombre </label>
        <input type="text" name="nombre" id=""  class="form-control" placeholder=""
          aria-describedby="helpId" formControlName="nombre"  [(ngModel)]="skill.nombre" value="">

          <label for="customRange1" class="form-label">nivel</label>
          <input type="text" formControlName="nivel" [(ngModel)]="skill.nivel" name="nivel" class="form-range" id="customRange1" >

        <button type="submit"  class="btn btn-danger" (click)="actualizar(skill)">Actualizar</button>
        <button class="btn btn-secondary" [routerLink]="['home']">CANCELAR
        </button>
      </form>
    </div>
  </div>  
