<section id="educacion">
    <div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="d-flex justify-content-between">
                <h2>Educacion</h2>
                <div class="botones">
                    <i class="fas fa-plus-circle" [routerLink]="['/agregar/educacion']"></i>
                   
                </div>
            </div>
        </div>
        <div >
            <div class="educacion ">
                <div class="row" >
                    <div class="col-sm-3" *ngFor="let edu of educacion">
                        <div class="d-flex justify-content-between">
                           <h6>{{edu.nombre}}</h6>
                            <div class=" botones">
                                <i class="fas fa-edit" ></i>
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                        <p>
                        descripcion: {{edu.descripcion}}
                        titulo:      {{edu.titulo}}
                        inicio:      {{edu.fechaIni|date :'dd-MM-YYYY'}}
                        fin:         {{edu.fechaFin|date :'dd-MM-YYYY'}}
                     </p>
                    </div>
                </div> 
            </div> 
        </div>
    </div>
</div>
</section>