<section id="educacion">
    <div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="d-flex justify-content-between">
                <h2>Educacion</h2>
                <div class="botones">
                    <i class="fas fa-plus-circle" data-bs-toggle="modal" data-bs-target="#editEducation"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="d-inline-flex p-2 bd-highlight ">
            <div class="educacion ">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="d-flex justify-content-between">
                           <h6>Colegio</h6>
                            <div class=" botones">
                                <i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#editEducation"></i>
                                <i class="fas fa-trash-alt" data-bs-toggle="modal" data-bs-target="#deleteEducation" ></i>
                            </div>
                        </div>
                        <p>
                            hola asdasd
                            asdasdasdasdasdasdasda
                            asdasdasdasdasdasd
                         
                        </p>
                        <h6>2014-2016</h6>
                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex justify-content-between">
                           <h6>Colegio</h6>
                            <div class=" botones">
                                <i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#editEducation"></i>
                                <i class="fas fa-trash-alt" data-bs-toggle="modal" data-bs-target="#deleteEducation" ></i>
                            </div>
                        </div>
                        <p>
                            hola asdasd
                            asdasdasdasdasdasdasda
                            asdasdasdasdasdasd
                         
                        </p>
                        <h6>2014-2016</h6>
                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex justify-content-between">
                           <h6>Colegio</h6>
                            <div class=" botones">
                                <i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#editEducation"></i>
                                <i class="fas fa-trash-alt" data-bs-toggle="modal" data-bs-target="#deleteEducation" ></i>
                            </div>
                        </div>
                        <p>
                            hola asdasd
                            asdasdasdasdasdasdasda
                            asdasdasdasdasdasd
                         
                        </p>
                        <h6>2014-2016</h6>
                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex justify-content-between">
                           <h6>Colegio</h6>
                            <div class=" botones">
                                <i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#editEducation"></i>
                                <i class="fas fa-trash-alt" data-bs-toggle="modal" data-bs-target="#deleteEducation" ></i>
                            </div>
                        </div>
                        <p>
                            hola asdasd
                            asdasdasdasdasdasdasda
                            asdasdasdasdasdasd
                         
                        </p>
                        <h6>2014-2016</h6>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
</section>