<app-delete></app-delete>
<div class="container-fluid">
  <section id="contacto" class="d-flex justify-content-end">
      <div class="card">
          <div class="row">
            <h4>Contacto</h4>
              <div *ngIf="contactos.length>0;else n">
                  <div class="col-sm-12"  *ngFor="let c of contactos">
                      <div class="d-flex justify-content-between">
                          <h6>Contacto</h6>
                          <div class=" botones">
                              <i class="fas fa-edit"  (click)="openEdit(editarContacto,c)"></i>
                              <!-- [routerLink]="['/editar/contacto']" (click)="editar(c)" va arriba -->
                              <i class="fas fa-trash-alt"  (click)="borrar(c)"></i>
                          </div>
                      </div>
                      <p>
                          correo:{{c.correo}}
                          telefono:{{c.telefono}}
                          discord:{{c.discord}}
                          linkedin:{{c.linkedin}}
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <ng-template #n>
          <div class="container-fluid">
            <div class="d-flex justify-content-end">
           <button > <i class="fas fa-plus-circle" (click)="openAgregar(agregarContacto)"> </i></button>
            
          </div>
        </div>
      </ng-template>
  </section>
  </div>
  <!-- modal editar contacto -->
<ng-template #editarContacto let-c="close" let-d="dismiss">
    <div class="card">
        <div class="card-header">
          <h3>Modificar Datos Contacto</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="cont" >
          
            <label class="col-sm-3 col-form-label is-required">correo </label>
            <input type="email" name="correo" id=""  class="form-control" placeholder=""
              aria-describedby="helpId" formControlName="correo" value="">
    
            <label class="col-sm-3 col-form-label is-required">telefono</label>
            <input type="number" name="telefono" id=""  class="form-control" placeholder=""
              aria-describedby="helpId" formControlName="telefono" value="">
    
            <label class="col-sm-3 col-form-label is-required">linkedin</label>
            <input type="text" name="linkedin" id=""  class="form-control" placeholder=""
              aria-describedby="helpId" formControlName="linkedin" value="">
    
            <label class="col-sm-3 col-form-label is-required">discord</label>
            <input type="text" name="discord" id=""  class="form-control" placeholder=""
              aria-describedby="helpId" formControlName="discord" value="">
              
            <button class="btn btn-danger" (click)="actualizar()"> Actualizar </button>
            <button type="button" class="btn btn-danger" (click)="d('Cross click')"> Cerrar </button>
          </form>
        </div>
      </div> 
</ng-template>

<ng-template #agregarContacto let-c="close" let-d="dismiss">

  <div class="card">
      <div class="card-header">
        <h3>Agregar Datos Contacto</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="cont" >
        
          <label class="col-sm-3 col-form-label is-required">correo </label>
          <input type="email" name="correo" id=""  class="form-control" placeholder=""
            aria-describedby="helpId" formControlName="correo" value="">
  
          <label class="col-sm-3 col-form-label is-required">telefono</label>
          <input type="number" name="telefono" id=""  class="form-control" placeholder=""
            aria-describedby="helpId" formControlName="telefono" value="">
  
          <label class="col-sm-3 col-form-label is-required">linkedin</label>
          <input type="text" name="linkedin" id=""  class="form-control" placeholder=""
            aria-describedby="helpId" formControlName="linkedin" value="">
  
          <label class="col-sm-3 col-form-label is-required">discord</label>
          <input type="text" name="discord" id=""  class="form-control" placeholder=""
            aria-describedby="helpId" formControlName="discord" value="">
            
            <div class="botones" style="position: relative; margin-top: 20px;margin-bottom: 5px;">
              <button class="btn btn-primary" (click)="guardar()"> Guardar </button>
              <button type="button" class="btn btn-danger" (click)="d('Cross click')"> Cerrar </button>
            </div>
        </form> 
      </div>
    </div> 
</ng-template>