<div class="container-fluid">
  <section id="contacto" class="d-flex justify-content-end">
      <div class="card">
          <div class="row">
              <div *ngIf="contactos.length>0;else n">
                  <div class="col-sm-12"  *ngFor="let c of contactos">
                      <div class="d-flex justify-content-between">
                          <h6>Contacto</h6>
                          <div class=" botones">
                              <i class="fas fa-edit" [routerLink]="['/editar/contacto']" (click)="editar(c)"></i>
                              <i class="fas fa-trash-alt" data-bs-toggle="modal"
                                  data-bs-target="#deleteEducation"></i>
                          </div>
                      </div>
                      <p>
                          correo:{{c.correo}}
                          telefono:{{c.telefono}}
                          discord:{{c.discord}}
                          linkedin:{{c.linkedin}}
                      </p>
                  </div>
              </div>
          </div>
          
      </div>

      <ng-template #n>
          <div class="container-fluid">
          <i class="fas fa-plus" [routerLink]="['/editar/contacto']" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          </i>
          </div>
      </ng-template>
  </section>
  </div>
