.banner-container{
    margin-top: 20px;
    position: relative;
  }
  .banner{
    background-color: rgba(215, 215, 221, 0.13);
    position: relative;
    left: 15%;
 }
 

@media(max-width:380px) {
  .datos{
    position: relative;
    text-align: center;
  }
    #yo{
      position: relative;
     left:25%;
    }
  #discord {          
    display: none;     
  } 
 }