 <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="contacto">
          <div class="form-group">
            <label class="col-sm-3 col-form-label is-required">correo </label>
            <input type="email" name="correo" id="" [(ngModel)]="contact.correo" class="form-control" placeholder=""
              aria-describedby="helpId" formControlName="correo" value="">

            <label class="col-sm-3 col-form-label is-required">telefono</label>
            <input type="number" name="telefono" id="" [(ngModel)]="contact.telefono" class="form-control"
              placeholder="" aria-describedby="helpId" formControlName="telefono" value="">

            <label class="col-sm-3 col-form-label is-required">linkedin</label>
            <input type="text" name="linkedin" id="" [(ngModel)]="contact.linkedin" class="form-control" placeholder=""
              aria-describedby="helpId" formControlName="linkedin" value="">

            <label class="col-sm-3 col-form-label is-required">discord</label>
            <input type="text" name="discord" id="" [(ngModel)]="contact.discord" class="form-control" placeholder=""
              aria-describedby="helpId" formControlName="discord" value="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  [routerLink]="['home']">Close</button>
            <button type="submit" class="btn btn-danger">
              actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>  -->

<!-- </div> -->
<!-- <div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Modificar Datos</h3>
    </div>
    <div class="card-body">
      <form action="" [formGroup]="contacto">
        <label class="col-sm-3 col-form-label is-required">correo </label>
        <input type="email" name="correo" id="" [(ngModel)]="contact.correo" class="form-control" placeholder=""
          aria-describedby="helpId" formControlName="correo" value="">

        <label class="col-sm-3 col-form-label is-required">telefono</label>
        <input type="number" name="telefono" id="" [(ngModel)]="contact.telefono" class="form-control" placeholder=""
          aria-describedby="helpId" formControlName="telefono" value="">

        <label class="col-sm-3 col-form-label is-required">linkedin</label>
        <input type="text" name="linkedin" id="" [(ngModel)]="contact.linkedin" class="form-control" placeholder=""
          aria-describedby="helpId" formControlName="linkedin" value="">

        <label class="col-sm-3 col-form-label is-required">discord</label>
        <input type="text" name="discord" id="" [(ngModel)]="contact.discord" class="form-control" placeholder=""
          aria-describedby="helpId" formControlName="discord" value="">
        <button class="btn btn-danger" [routerLink]="['home']">Actualizar</button>
        <button class="btn btn-secondary" [routerLink]="['home']">CANCELAR
        </button>
      </form>
    </div>
  </div> -->