<section id="sobre-mi" class="">
    <div class="container-fluid">
        <div class="card">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <h2>Sobre mi</h2>
                    <div class=" botones">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
                <div class="row sobre-mi">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, animi explicabo
                        quod
                        repudiandae unde, quae labore fugiat quasi ratione praesentium eius
                        necessitatibus ipsum
                        ducimus, porro optio perferendis ullam debitis delectus.
                    </p>
          
               
                </div>
            </div>
        </div>
    </div>
</section>