/* h2{
    text-decoration:underline rgb(195, 147, 242);
} */
.card{
     width: 100%;
     margin-bottom: 15px;
     border-radius: 4px;
     border-color: transparent;
     background-color: #000000;
     color: rgb(255, 255, 255);

 }
.circulo{
    display: flex;
    margin-bottom: 2%;
    border: 2px rgb(255, 7, 7) solid; 
    width: 100px;
    height: 100px; 
    border-radius: 100px;
}
.botones :hover{
    cursor: pointer;
    color: rgb(88, 199, 233);
}
.botones>i{
    padding: 2px;
    font-size: small;
}
 
body{
    background-color: #070707;
}
html, body { height: 100%; }

body { margin: 0; font-family: cursive; }

.modal-header{
    margin-top: -1px;
    background-color: rgb(123, 135, 113);
    color: white;
}
.modal-body{
    color: white;
    margin-top: -1px;
    background-color: rgb(123, 135, 113);
}
.modal-footer{
    margin-top: -1px;
    background-color: rgb(123, 135, 113);
   color: white;
}

.boton{
    margin: 10px;
}
