<div class="card">
    <div class="card-header">
      <h3>Agregar skill</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="skills">
        
        
        <label class="col-sm-3 col-form-label is-required"> nombre </label>
        <input type="email" name="nombre" id=""  class="form-control" placeholder=""
        aria-describedby="helpId" formControlName="nombre" value="">

        <label for="customRange1" class="form-label">nivel</label>
        <input type="range" class="form-range"  formControlName="nivel" id="customRange1">

        <button class="btn btn-danger" [routerLink]="['home']"  (click)="enviar()">Actualizar</button>
        <button class="btn btn-secondary" [routerLink]="['home']">CANCELAR
        </button>
      </form>
    </div>
  </div> 