<div class="card">
  <div class="card-header">
    <h3>Agregar skill</h3>
  </div>
  <div class="card-body">
     <form [formGroup]="skills">
        <label class="col-sm-3 col-form-label is-required"> nombre </label>
        <input type="email" name="nombre" id=""  class="form-control" placeholder=""
        aria-describedby="helpId" formControlName="nombre" value="">
        <label class="col-sm-3 col-form-label is-required"> imagen </label>
         <input type="file" alife-file-to-base64 accept="image/png,image/jpg" name="file"  (onFileChanged)="obtener($event)" class="form-control"  placeholder="" >
        <div>
        <img widt="100px" [src]="basee" >   
        </div>
        <label for="customRange1" class="form-label">nivel</label>
        <input type="range" class="form-range"  formControlName="nivel" id="customRange1">
        <button class="btn btn-danger" [routerLink]="['home']"  (click)="enviar()">Agregar</button>
        <button class="btn btn-secondary" [routerLink]="['home']">CANCELAR
        </button>
      </form>   
  </div>
</div>